@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Pacifico&display=swap");

*,
*::backdrop,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --title-font: "Pacifico", cursive;
  --text-2: "Lobster", sans-serif;
  --color-1: #fff;
  --qoute-font: "Dancing Script", cursive;
  --img-description: "Josefin Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
}

.title-name h2 {
  color: var(--color-1);
  font-family: var(--title-font);
}

.nav-list {
  display: flex;
  position: absolute;
  z-index: 20;
  color: white;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 2rem;
}

.navlist-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  color: var(--color-1);
}

.navlist-items > li {
  cursor: pointer;
  font-weight: 600;
  font-size: large;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.navlist-items > li:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.nav-item > a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.main-qoute {
  position: absolute;
  color: white;
  z-index: 20;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0);
}

.img-with-qoute {
  position: relative;
}

.qoute-section {
  position: absolute;
  left: 60%;
  top: 40%;
  width: 60%;
  color: white;
  transform: translate(-50%, 0);
}

.qoute {
  font-size: 3.5rem;
  font-weight: 900;
  font-family: var(--qoute-font);
}

.byline {
  font-size: 2rem;
  font-family: var(--qoute-font);
}

.final-qoute-section{
  width: 80%;
  padding: 2rem;
  margin: auto;
}

.byline-final{
  font-family: var(--qoute-font);
  font-size: 2rem;
}

.final-qoute{
  font-size: 3rem;
  font-weight: 900;
  font-family: var(--qoute-font);
}

.photo-gallery {
  width: 80%;
  margin: auto;
  padding: 2rem;
}

.honourable-mentions-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.section-title {
  text-align: center;
  font-family: var(--text-2);
}

.text-section {
  width: 30%;
  padding: 2rem;
  font-family: var(--img-description);
  margin: 0.5rem;
}

.carousel-2 {
  width: 50%;
}

.testimonial-section {
  padding: 2rem;
}

.img-with-qoute > img {
  width: 100%;
}

.img-slider {
  width: 1280px;
  display: flex;
  overflow-x: scroll;
}

.img-slider div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.5rem;
  padding: 0.25rem;
  flex: none;
}

.img-slider div img {
  width: 100%;
}

.img-slider::-webkit-scrollbar {
  display: none;
}

.img-slider-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.qoute-1 {
  font-family: var(--qoute-font);
  font-size: 2.5rem;
}

.byline-1 {
  font-family: var(--qoute-font);
  font-size: 1.25rem;
}

.back-btn,
.next-btn {
  cursor: pointer;
}

@media (max-width: 1334px) {
  .qoute-1 {
    font-size: 2.5rem;
  }
  .byline-1 {
    font-size: 1rem;
  }
}

@media (max-width: 919px) {
  .qoute {
    font-size: 1.5rem;
  }
  .byline {
    font-size: 1rem;
  }

  .qoute-1 {
    font-size: 1.5rem;
  }
  .byline-1 {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .text-section {
    width: 100%;
    padding: 0;
  }

  .qoute-1 {
    font-size: x-small;
  }

  .byline-1 {
    font-size: 0.5rem;
  }

  .final-qoute{
    font-size: 1.5rem;
  }

  .byline-final{
    font-size: .75rem;
  }

  .hamburger {
    display: block;
  }

  .nav-list {
    padding: 1rem;
  }

  .nav-list.active {
    background-color: #262626;
    z-index: 22;
    position: fixed;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navlist-items {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-item.active {
    background-color: #262626;
  }

  .navlist-items.active {
    left: 0;
    height: 40vh;
  }

  .honourable-mentions-body {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .carousel-2 {
    width: 100%;
  }

  .main-qoute > p {
    font-size: 1rem;
  }
  .byline {
    font-size: 0.2rem;
  }
}

@media (max-width: 497px) {
  .main-qoute > p {
    font-size: 0.8rem;
  }
  .byline {
    font-size: 0.3rem;
  }
}
